/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4a4141;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

#cart-info {
    margin-top: 10px;
}

#cart-btn {
    background-color: #8e415b;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#product-list {
    display: flex;
    flex-wrap: wrap; /* Ürünlerin alt satıra geçmesini sağlar */
    justify-content: space-between; /* Ürünler arasındaki boşluğu ayarlamak için */
    margin: 20px;
}

.product {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 18%; /* Her bir ürün %18 genişliğinde olacak */
    margin-bottom: 20px; /* Ürünler arasındaki alt boşluk */
}

.product img {
    width: 100%; /* Görsellerin ürün kutusuna sığacak şekilde genişletilmesi */
    height: auto;
    border-radius: 5px; /* Görsellere yuvarlatılmış köşeler */
}

.product button {
    background-color: #92899b;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#cart {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#cart-items li {
    margin: 10px 0;
}

